.PlayHeaderSection {
    background: var(--PlayHeaderBackgroundColor);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.playicon {
    font-size: 20px;
    color: var(--SearchIconColor);
    display: flex;
    align-items: center;
}

.cartSection {
    color: var(--SearchIconColor);
    position: relative;
}


.cartSection span {
 
    position: absolute;
    transform: translateY(-10px);
    background: #f5db32;
    color: var(--WhiteText);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    right: -12px;
    font-size: 13px;
}
.PlayContainer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--PlayHeaderTitle);
    border-bottom: 1px solid var(--PlayHeaderTitle);
}

.PlaingLeftSection {
    display: flex;
}

.PlayingRightSection {
    display: flex;
    color: var(--PlayHeaderTitle);
    font-size: 13px;
}

.PlayingRightSection div {
    padding: 10px;
    background-color: var(--LiveBoxesBgColor);
    width: 20px;
    border: 1px solid #fefefe;
    text-align: center;
}


.Palyingdate {
    color: var(--PlaydateTitle);
    font-size: 13px;
    padding-right: 20px;
}


.Palyindgdate {
    display: flex;
    align-items: center;
}

.Palying.Title {
    font-size: 13px;
    font-weight: bold;
}
.PlaingLeftSection {
    display: flex;
    padding-left: 6%;
    align-items: center;

}

.PlayHeadingContainer {
    display: flex;
    justify-content: space-between;
}

.PlaingHeadingLeftSection {
    display: flex;
    align-items: center;
    padding-left: 6%;
}

.TeamDisplayBox {
    display: flex;
}

.TeamDisplayBox div {
    background: #a7d8fd;
    width: 20px;
    padding: 11px;
    text-align: center;
    font-size: 13px;
}
.PlayHeadingContainer {
    display: flex;
    justify-content: space-between;
}

.TeamTitle{
    display: flex;
    align-items: center;
    color:var(--PlayHeaderBackgroundColor);
}
.TeamTitle svg{
    padding-right: 5px;
    color: var(--PlayHeaderBackgroundColor);
}
.livelogo {
    transform: translateY(-10px);
    background: transparent !important;
    color: var(--PlayHeaderBackgroundColor);
}