.box{
    border:2px solid red ;
    padding: 10px 10px 0;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 5px;
}
  .box1,.box2,.box3,.box4,.box5{
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    flex-direction: column
  }
  /* .box1{
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    flex-direction: column
  } */
  img{
    max-width: 100%;
    border: 0;
  }
  .sport-bg-img{
    width: 100%;
    height: 36px;
    object-fit: cover;
  }
  .sport-button{
    /* width: 100%; */
    /* height: 100%; */
    font-family: "Lato";
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    position: relative; 
  }

  