





.sidebarLinks ul li {
    list-style: none;
    padding: 5px;
    text-transform: capitalize;
}
.sidebarLinks ul {
    padding: 0px;
    text-align: center;
}


.sidebarLinks {
    position: fixed;
    left: 0;
    background: #f4d821;
    height: 100%;
    color: #fff;
    /* text-transform: uppercase; */
    top: 0;
    padding-top: 10%;
    z-index: 11;
    bottom: 0;
    transition: all 1s;
    transform: translateX(0%);
    width: 200px;
    height: 100vh;
  }
  .sidebarLinks ul li {
    text-transform: capitalize;
    padding-bottom: 10px;
  }
  