

.sidebarLinks {
    position: absolute;
    left: 0;
    background: #1e7f66;
    height: 100%;
    color: #fff;
    width: 25%;
    overflow: scroll;
    top: 0;
    padding-top: 10%;
    z-index: 11;
    position: fixed;
}



.sidebarLinks ul li {
    list-style: none;
    padding: 5px;
    text-transform: capitalize;
}


.sidebarLinks {
    position: absolute;
    left: 0;
    background: #1e7f66;
    height: 100%;
    color: #fff;
    width: 40%;
    overflow: scroll;
    top: 0;
    padding-top: 10%;
    z-index: 11;
    position: fixed;
}