.sidebarLinks ul li {
  list-style: none;
  padding: 5px;
  text-transform: capitalize;
}

.sidebarLinks ul {
  padding: 0px;
  text-align: inherit;
}


.sidebarLinks {
  position: fixed;
  left: 0;
  background: rgb(255 253 253);
  height: 100%;
  color: var(--WhiteText);
  /* text-transform: uppercase; */
  top: 0;
  /* padding-top: 10%; */
  z-index: 11;
  bottom: 0;
  transition: all 1s;
  transform: translateX(0%);
  width: 220px;
  height: 100vh;
  overflow: scroll;
}

.sidebarLinks ul li {
  text-transform: capitalize;
  padding-bottom: 10px;
}
.red{
  color: brown;
  margin-left: 10px;
}
.heading{
  color: var(--PlaydateTitle);
  font-size: 15px;
  font-weight: 600;
  margin-left: 15px;
}
.text{
  color: var(--PlayHeaderTitle);
  font-size: 15px;
  font-weight: 600;
  margin-left: 15px;
}
.Black{
  color: var(--PlayHeaderTitle);
  margin-left: 10px;
}
.PlaydateTitle{
  color: var(--PlaydateTitle);
  margin-left: 10px;
}
.lightgreen{
  color:var(--PlayHeaderBackgroundColor);
  margin-left: 10px;
}
.yellow{
  color:#ffe600;
  margin-left: 10px;
}
.Blue{
  color:#49b8d3;
  margin-left: 10px;
}
.social{
  color: var(--PlayHeaderBackgroundColor);
  border: 2px solid var(--PlayHeaderBackgroundColor);
  padding: 5px;
  font-weight: 300;
  margin-left: 10px;
}
